/*=== BACKGROUNDS ===*/

.bg-image1 {
    background: url(../img/main-background.jpeg) no-repeat 40% center/cover;
    width: 100%;
    height: 95vh;
}

.bg-image2 {
    background: url(../img/main-background2.jpeg) no-repeat 40% center/cover;
    width: 100%;
    height: 95vh;
}

.bg-image3 {
    background: url(../img/main-background3.jpg) no-repeat 40% center/cover;
    width: 100%;
    height: 95vh;
    opacity: .8;
}

.bg-image4 {
    background: url(../img/main-background4.jpeg) no-repeat 40% center/cover;
    width: 100%;
    height: 95vh;
}

.bg-image5 {
    background: url(../img/main2.jpeg) no-repeat 40% center/cover;
    width: 100%;
    height: 95vh;
}

.bg-image6 {
    background: url(../img/blueprint.jpeg) no-repeat 40% center/cover;
    width: 100%;
    height: 95vh;
}

.bg-image7 {
    background: url(../img/main-bg7.jpeg) no-repeat 80% center/cover;
    width: 100%;
    min-height: 95vh;
}

.bg-simple {
    background: #eee;
    width: 100%;
    min-height: 95vh;
}