<section class="container-fluid">
  <section class="section-faq text-justify container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="pt-0" id="accordion" role="tablist" aria-multiselectable="true">
          <!-- repeating items -->
          <div class="card p-2 mt-2">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1"
              class="display-4">
              <h3 class="mb-0">
                Mennyibe fog ez nekem kerülni?
              </h3>
            </a>
            <div id="collapse1" class="collapse show" role="tabpanel" aria-expanded="false">
              <div class="card-body">
                <p>A .hu végződésű
                  <b>domainnév regisztrációja</b> kb.
                  <b>2.500 Ft.</b>, a bejegyzéstől számított 2 éves fenntartással. Egy üzleti bemutatkozó weboldal, landing-page
                  vagy rendezvényt népszerűsítő oldal tárhelyigénye kicsi; így ilyen
                  <b>oldal üzemeltetéséhez</b> már
                  <b>2.000-3.000 Ft. éves díjtól</b> találni megbízható, gyors tárhelyszolgáltatót. Két évet alapul véve éves
                  szinten kb. 5.000-6.000 Ft. az oldal fenntartásának költsége.</p>
                <p class="lead text-center">Egy weboldal elkészítésének költsége több mindentől függ:</p>
                <ul class="list-unstyled list-group">
                  <li class="list-group-item bg-dark text-light">Hány lapból áll?</li>
                  <li class="list-group-item bg-secondary">Igény van-e űrlapra, amin keresztül az érdeklődő közvetlenül kapcsolatba tud lépni a céggel?
                  </li>
                  <li class="list-group-item bg-dark text-light">Kész elképzelés van az oldallal kapcsolatban, vagy "nulláról" kezdve kell megtervezni?</li>
                  <li class="list-group-item bg-secondary">Képek, szöveg rendelkezésre állnak, vagy el kell készíteni?</li>
                  <li class="list-group-item bg-dark text-light">Szükség van-e designerre? Kell egyedi logót, grafikát tervezni?</li>
                </ul>
                <p></p>
                <p class="alert-secondary">A jó hír hogy ezeket, illetve egyéb az oldal készítésével kapcsolatos kérdéseket nem kell fejben tartanod.
                  Érdeklődés esetén akár telefonon, emailben vagy adott esetben személyesen adok tájékoztatást, felvilágosítást.</p>
                <p>De hogy konkrétum ill. viszonyítási alap is legyen, egy ehhez hasonló, több oldalas, űrlapot tartalamzó,
                  javascriptet futtató, teljes egészében reszponzív illetve mobilbarát oldal költsége hozzávetőleg 50.000
                  Ft. Ez magába foglalja a domain regisztrációt és a tárhely bérlést is.
                </p>
              </div>
            </div>
          </div>
          <div class="card p-2 mt-2">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false"
              aria-controls="collapse2">
              <h3 class="mb-0">
                Mennyi idő alatt készül el?
              </h3>
            </a>
            <div id="collapse2" class="collapse" role="tabpanel" aria-expanded="false">
              <div class="card-body">
                Egy viszonylag egyszerű, kisvállakozást bemutató üzleti weboldal az oldallal kapcsolatos összes lényegi kérdés megbeszélését
                és tisztázását követően 3-4 nap alatt elkészülhet. Természetesen az időtartamot növelik az estleges menetközben
                felmerülő igények, az egyedi logó, grafika, designelem megtervezése.
              </div>
            </div>
          </div>
          <div class="card p-2 mt-2">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true"
              aria-controls="collapse3">
              <h3 class="mb-0">
                Elkészült az oldlal, szuper. De ki fogja ezt karbantartani nekem?
              </h3>
            </a>
            <div id="collapse3" class="collapse" role="tabpanel" aria-expanded="true">
              <div class="card-body">
                A bemutatkozó oldaladon annak "élesítésétől" számított 12 hónapos időtartam alatt 3 alkalommal díjmentesen végzem el az oldal
                aktualizálását, frissítését. Ettől sűrűbb, vagy hosszabb időn keresztül tartó felügyelet igényének felmerülése
                esetén egyedi, szeméyre szabott ajánlatot adok.
              </div>
            </div>
          </div>
          <div class="card p-2 mt-2">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false"
              aria-controls="collapse4">
              <h3 class="mb-0">
                Milyen jellegű oldalak elkészítését vállalod?
              </h3>
            </a>
            <div id="collapse4" class="collapse" role="tabpanel" aria-expanded="false">
              <div class="card-body">
                <ul class="list-unstyled list-group">
                  <li class="list-group-item bg-dark text-light">Egyedei, szeméylre szabott üzleti bemutatkozó weboldalak</li>
                  <li class="list-group-item bg-secondary">Termékeket népszerűsítő, vásárlásra ösztönző ún. Landing Page-ek</li>
                  <li class="list-group-item bg-dark text-light">Weboldalak különböző események népszerűsítésére (rendezvények, esküvők stb.)</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card p-2 mt-2">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false"
              aria-controls="collapse5">
              <h3 class="mb-0">
                Egyedi design, grafika?
              </h3>
            </a>
            <div id="collapse5" class="collapse" role="tabpanel" aria-expanded="false">
              <div class="card-body">
                Egy dolgot le kell szögezzek. Nem vagyok designer. Egyszerű, logókat, designelemeket meg tudok tervezni, de bonyolulut, profi
                designhoz külső szakembert kell igénybe vennem. Az egyedi design plusz költsége ezen múlik. Ezzel kapcsolatban
                én is csak akkor tudok nyilatkozni, ha árajánlatot kértem a designertől. Egy ilyen oldal elkészítéséhez amit
                most is nézel nem kell designer, teljes egészében el tudom készíteni, így nem fogja növelni a költségeket.
              </div>
            </div>
          </div>
          <div class="card p-2 mt-2">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false"
              aria-controls="collapse6">
              <h3 class="mb-0">
                Szomszédom / haverom / unokatesóm megcsinálja ingyen.
              </h3>
            </a>
            <div id="collapse6" class="collapse" role="tabpanel" aria-expanded="false">
              <div class="card-body">
                <p class="lead">Az elején tisztázzuk:</p>
                <p>Felelősséget vállalok a munkámért. Garantálom hogy a felhasznált tartalom, képek, grafikák nem esnek szerzői
                  jogi védelem alá.</p>
                <p>Az elkészült weblap GDPR konform. Ha még nem hallottál róla,
                  <a href="https://ec.europa.eu/justice/smedataprotect/index_hu.htm" target="_blank">katt ide.</a>
                </p>
                <p>Az általam használt programok, fejlesztőeszközök mind jogtiszták, erről kezeskedem.</p>
                <p>A legújabb technológiákat használom. HTML5, CSS3, JavaScript, Bootstrap keretrendszer.</p>
                <p>Valid, ellenőrzött HTML kódot írok. Csak ilyen kerülhet ki a kezeim közül.</p>
                <p>Tudom hogy drága az időd, ezért tartom magam a határidőkhöz. Nincs olyan hogy majd meglesz.</p>
                <p>Nem hagylak magadra. Bármikor megtalálsz, mindig válaszolok, segítek megkeresni a legjobb megoldást.
                </p>
              </div>
            </div>
            <!-- /repeating items -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <p></p>
</section>