<footer id="footer" class="pt-5">
  <div class="container footer-1st">
    <div class="row">
      <div class="col-lg-6">
        <p class="display-3 mb-4">Be(e) smart.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-3">
        <h6 class="text-uppercase text-warning">Információk</h6>
        <ul class="list-unstyled">
          <li>
            <a href="./gdpr.html">Adatkezelés</a>
          </li>
          <li>
            <a href="./faq.html">Gyakori kérdések</a>
          </li>
          <li>
            <a href="./impressum.html">Impresszum</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h6 class="text-uppercase text-warning">Rólam</h6>
        <ul class="list-unstyled">
          <li>
            <a href="./contact.html">Kapcsolat</a>
          </li>
          <li>
            <a href="./index.html">Ki vagyok?</a>
          </li>
          <li>
            <a href="./">Link</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-3">
        <div class="col-12 col-md-12">
          <h6 class="text-uppercase text-warning">Hírlevél</h6>
          <form class="footer-form">
            <div class="form-group">
              <input type="text" class="form-control" title="Add meg az email címed. Semmi spam, ígérem!" placeholder="">
            </div>
            <div class="form-group">
              <button class="btn text-uppercase small" data-toggle="modal" data-target="#alertModal" type="button">Feliratkozom</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 col-lg-2 offset-lg-1 col-md-3 offset-md-0 text-right">
        <h6 class="text-uppercase text-warning">more</h6>
        <p>
          <em>
            <a href="#">
              <q>...Szeme villám! Haja libeg! Hármas kört reá előbb,...</q>
            </a>
          </em>
        </p>
      </div>
      <div class="col-12 text-md-right text-center social mb-4">
        <br>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a rel="nofollow" href="" title="Twitter">
              <i class="fab fa-twitter icons"></i>
            </a></li>
          <li class="list-inline-item">
            <a rel="nofollow" href="" title="Instagram">
              <i class="fab fa-instagram icons"></i>
            </a></li>
          <li class="list-inline-item">
            <a rel="nofollow" href="" title="Facebook">
              <i class="fab fa-facebook icons"></i>
            </a></li>
          <li class="list-inline-item">
            <a rel="nofollow" href="" title="LinkedIn">
              <i class="fab fa-linkedin icons"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<section class="footer-2nd pt-3">
  <div class="container">
    <div class="text-center footer-bottom pb-2">
      <small>
<h6 class="text-center text-uppercase">Majoros Tamás &copy; Copyright 2018.
  <span class="text-capitalize"> Smart-Bee</span>
</h6>
        <h6>All Right Reserved. Powered by Bootstrap.</h6>
      </small>
    </div>
  </div>
</section>