<header>
  <div class="bg-image7">
    <div class="container">
      <div class="row">
        <div class="main-position col-xl-6 col-lg-6 col-md-6 py-3">
          <div class="wow zoomIn" data-wow-delay=".2s">
            <h2>
              <span class="display-3">Profi Weboldal.</span>
            </h2>
          </div>
          <div class="wow zoomIn" data-wow-delay=".5s">
            <h2>
              <span class="display-3">Gyorsan.</span>
            </h2>
          </div>
          <div class="wow zoomIn" data-wow-delay=".8s">
            <h2>
              <span class="display-3">Olcsón.</span>
            </h2>
          </div>
        </div>
        <div class="text-center my-5 main-logo col-xl-6 col-lg-6 col-md-6">
          <div class="main-right-content">
            <h2 class="display-4">Smart-Bee</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container text-center">
    <h2 class="display-4 mt-5">Mi az amit csinálok?</h2>
    <div class="row mt-5">
      <div class="col-lg-4 col-md-4">
        <i class="fas fa-tv what-icon"></i>
        <p class="lead mt-3">Modern</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <i class="fas fa-mobile-alt what-icon"></i>
        <p class="lead mt-3">Mobilbarát</p>
      </div>
      <div class="col-lg-4 col-md-4">
        <i class="fas fa-hand-holding-usd what-icon"></i>
        <p class="lead mt-3">Kedvező árú</p>
      </div>
    </div>
    <p class="lead textbox text-center mt-3">weboldalakat készítek, a megrendelő igényei szerint. </p>
  </div>
</section>
<section>
  <div class="container py-5">
    <div class="mt-2">
      <div class="card-deck">
        <div class="card card-default text-center">
          <div class="card-img-top card-zoom">
            <a href="http://smart-bee.hu/index-grid.html" target="_blank">
              <img class="img-fluid" src="./img/me-1.png" alt="Card image">
            </a>
          </div>
          <div class="card-body">
            <h3 class="card-text">Egyszerű statikus weblapok</h3>
          </div>
        </div>
        <div class="card card-default text-center">
          <div class="card-img-top card-zoom">
            <a href="http://smart-bee.hu/majagsm_index.html" target="_blank">
              <img class="img-fluid" src="./img/kamugsm.png" alt="Card image">
            </a>
          </div>
          <div class="card-body">
            <h3 class="card-text">Egyszerű üzleti oldalak űrlappal</h3>
          </div>
        </div>
        <div class="card card-default text-center">
          <div class="card-img-top card-zoom">
            <a href="http://smart-bee.hu/wedding.html" target="_blank">
              <img class="img-fluid" src="./img/wedding.png" alt="Card image">
            </a>
          </div>
          <div class="card-body">
            <h3 class="card-text">Egyszerű, rendezvényeket népszerűsítő statikus oldalak</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="display-4 text-center mb-5">Miért Én?</h2>
          <p class="lead text-center text-bold">Mert a Smart-Bee weboldalak</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row" id="logos">
      <div class="text-center col-xl-3 col-lg-3 col-md-3 mx-auto why-content">
        <a>
          <i class="fas fa-code why-icon"></i>
        </a>
        <h3 class="mt-2">HTML5</h3>
        <p class="lead">Ellenőrzött HTML5 kóddal készülnek</p>
      </div>
      <div class="text-center col-xl-3 col-lg-3 col-md-3 mx-auto why-content">
        <a>
          <i class="fab fa-css3 why-icon"></i>
        </a>
        <h3 class="mt-2">CSS3</h3>
        <p class="lead">CSS3 stíluslapok felhasználásával</p>
      </div>
      <div class="text-center col-xl-3 col-lg-3 col-md-3 mx-auto why-content">
        <a>
          <i class="fab fa-js-square why-icon"></i>
        </a>
        <h3 class="mt-2">JavaScript</h3>
        <p class="lead">Csipetnyi JavaScript-el az interaktivitásért</p>
      </div>
      <div class="text-center col-xl-3 col-lg-3 col-md-3 mx-auto why-content">
        <a>
          <i class="far fa-lightbulb why-icon"></i>
        </a>
        <h3 class="mt-2">Ötletek</h3>
        <p class="lead">Egyedi megvalósítással, a megrendelő igényei szerint</p>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 text-center stripe my-5">
      <p class="lead">A profi, a legújabb trendeknek megfelelő megjelenés, a letisztult design, a reszponzív, mobilbarát működés nálam alap.
        A többi rajtad múlik.</p>
    </div>
  </div>
</div>
<section class="bg-image5 bg-fixed">
  <div class="container py-3">
    <div class="row">
      <div class="col-xl-5 col-lg-4 col-md-3"></div>
      <div class="col-xl-7 col-lg-8 col-md-9 mt-5 bg-white wow fadeIn">
        <div class="p-4">
          <h1 class="pt-2">Smart-Bee</h1>
          <h6 class="wow fadeIn text-uppercase text-bold">Weboldalak. Neked.</h6>
          <p class="lead pt-2 pr-2">Modern, mobilbarát weboldalak készítése, a Te stílusodban, a Te igényeid szerint. Letisztult design, reszponzív
            megjelenés. Ne csak használd a világhálót. Használd is ki.</p>
          <a href="opinions.html" class="btn btn-dark btn-lg mb-2">Megnézem</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2 class="pb-2">Elérhetőségeim</h2>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card h-100">
          <div class="card-img-top">
          </div>
          <div class="card-body">
            <a href="./contact.html">
              <i class="fas fa-at main-icon"></i>
            </a>
            <h3 class="card-title">Email</h3>
            <p>maja@smart-bee.hu</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card h-100">
          <div class="card-img-top">
          </div>
          <div class="card-body">
            <a href="">
              <i class="fas fa-phone main-icon"></i>
            </a>
            <h3 class="card-title">Telefon</h3>
            <p>+36(70)430-1130</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <div class="card h-100">
          <div class="card-img-top">

          </div>
          <div class="card-body">
            <a href="">
              <i class="fas fa-map-marker-alt main-icon"></i>
            </a>
            <h3 class="card-title">Cím</h3>
            <p>
              Patvarci utca 18.
              <br>
              <a href="" class="map" title="Find Us" data-trigger="hover" data-toggle="popover" data-html="true">
                2660 Balassagyarmat
                <br> Nógrád megye
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>