<section class="bg-image5 bg-fixed">
  <div class="container py-3">
    <div class="row vcenter">
      <div class="col-xl-5 col-lg-4 col-md-3"></div>
      <div class="col-xl-7 col-lg-8 col-md-9 mt-5 bg-white wow fadeIn">
        <div class="p-4">
          <h1 class="pt-2">Smart-Bee</h1>
          <h6 class="wow fadeIn text-uppercase text-bold wide-space">Weboldalak. Neked.</h6>
          <p class="lead pt-2 pr-2">Modern, mobilbarát weboldalak készítése, a Te stílusodban, a Te igényeid szerint. 
<a href=""> Letisztult</a> design, reszponzív megjelenés. Ne csak használd a világhálót. Használd is ki.</p>
          <a href="#one" class="btn btn-dark btn-lg mb-2">Megnézem</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container text-center">
    <h2 class="display-4">Mi az amit csinálok?</h2>
<div class="row mt-5">
    <div class="col-lg-4 col-md-4">
<i class="fas fa-tv what-icon"></i>
<p class="lead mt-3">Modern</p>
  </div>
<div class="col-lg-4 col-md-4">
<i class="fas fa-mobile-alt what-icon"></i>
<p class="lead mt-3">Mobilbarát</p>
</div>
<div class="col-lg-4 col-md-4">
<i class="fas fa-hand-holding-usd what-icon"></i>
<p class="lead mt-3">Kedvező árú</p>
</div>
</div>
<p class="lead textbox text-center mt-3">Modern, letisztult, mobilbarát weboldalakat készítek, a megrendelő igényei szerint. </p>
  </div>
</section>
<section>
  <div class="container">
    <h2 class="pb-2">Elérhetőségeim</h2>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card h-100">
          <div class="card-img-top">
          </div>
          <div class="card-body">
            <a href="./contact.html">
              <i class="fas fa-at main-icon"></i>
            </a>
            <h3 class="card-title">Email</h3>
            <p>maja@smart-bee.hu</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card h-100">
          <div class="card-img-top">
          </div>
          <div class="card-body">
            <a href="">
              <i class="fas fa-phone main-icon"></i>
            </a>
            <h3 class="card-title">Telefon</h3>
            <p>+36(70)430-1130</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <div class="card h-100">
          <div class="card-img-top">

          </div>
          <div class="card-body">
            <a href="">
              <i class="fas fa-map-marker-alt main-icon"></i>
            </a>
            <h3 class="card-title">Cím</h3>
            <p>
              Patvarci utca 18.
              <br>
              <a href="" class="map" title="Find Us" data-trigger="hover" data-toggle="popover" data-html="true">
                2660 Balassagyarmat
                <br> Nógrád megye
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>