<section>
  <div class="container">
    <p class="lead text-center">Az itt feltüntetett árak tájékoztató jellegűek! Részletes árajánlatért keress meg.</p>
  </div>
  <div class="container outer my-4">
    <!-- pricing options list groups -->
    <div class="row my-4 mt-5">
      <div class="col-md-4">
        <div class="list-group text-center my-3 price-card">
          <div class="list-group-item bg-dark text-light">
            <h4 class="text-center my-1">Belépő csomag</h4>
          </div>
          <div class="list-group-item border-left-0 border-right-0 text-uppercase">
            <img src="./img/start.jpeg" class="img-fluid" alt="">
          </div>
          <p class="list-group-item font-weight-bold lead border-left-0 border-right-0">
            30.000 Ft-tól
          </p>
          <p class="list-group-item border-left-0 border-right-0">
            Reszponzív, mobilbarát weboldal
          </p>
          <p class="list-group-item border-left-0 border-right-0">
            1-4 oldal, vagy lap
          </p>
          <p class="list-group-item border-left-0 border-right-0">
            Egyedi webdesign
          </p>
          <p class="list-group-item border-left-0 border-right-0">
            Tárhely bérlés, Domain vásárlás
            <br>Tárhely beállítás, oldal beüzemelése
          </p>
          <div class="list-group-item border-left-0 border-right-0 custom">
            <a href="./contact.html" class="btn btn-secondary btn-lg btn-block text-truncate">Érdekel</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="list-group text-center bg-alt price-card">
          <div class="list-group-item border-left-0 border-right-0 bg-dark text-white">
            <h4 class="text-center my-1">Alap csomag
            </h4>
          </div>
          <div class="list-group-item border-left-0 border-right-0 text-uppercase font-weight-bold">
            <img src="./img/webpage.jpeg" class="img-fluid" alt="">
          </div>
          <p class="list-group-item font-weight-bold lead border-left-0 border-right-0">
            50.000 Ft-tól
          </p>
          <p class="list-group-item border-left-0 border-right-0">
            Reszponzív, mobilbarát weboldal
          </p>
          <p class="list-group-item border-left-0 border-right-0">
            5-8 oldal, vagy lap
          </p>
          <p class="list-group-item border-left-0 border-right-0">
            Egyedi webdesign
          </p>
          <p class="list-group-item border-left-0 border-right-0">
            Tárhely bérlés, Domain vásárlás
            <br>Tárhely beállítás, oldal beüzemelése
          </p>
          <p class="list-group-item border-left-0 border-right-0">
            Weboldal rendszeres karbantartása
          </p>
          <div class="list-group-item border-left-0 border-right-0 custom">
            <a href="./contact.html" class="btn btn-secondary btn-lg btn-block text-truncate">Érdekel</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="list-group text-center my-3 price-card">
          <div class="list-group-item border-left-0 border-right-0 bg-dark text-white">
            <h4 class="text-center my-1">Komplex csomag</h4>
          </div>
          <div class="list-group-item border-left-0 border-right-0 text-uppercase font-weight-bold">
            <img src="./img/complex2.jpeg" class="img-fluid" alt="">
          </div>
          <p class="list-group-item font-weight-bold lead border-left-0 border-right-0">
            Árajánlatért keressen!
          </p>
          <p class="list-group-item border-left-0 border-right-0">
            Reszponzív, mobilbarát weboldal
          </p>
          <p class="list-group-item border-left-0 border-right-0">
            Tetszőleges számú oldal
          </p>
          <p class="list-group-item border-left-0 border-right-0">
            Egyedi webdesign
          </p>
          <p class="list-group-item border-left-0 border-right-0">
            Tárhely bérlés, Domain vásárlás
            <br>Tárhely beállítás, oldal beüzemelése
          </p>
          <div class="list-group-item border-left-0 border-right-0 custom">
            <a href="./contact.html" class="btn btn-secondary btn-lg btn-block text-truncate">Érdekel</a>
          </div>
        </div>
      </div>
    </div>
</section>