<section>
<header>
    <div class="container bg-simple">
        <div class="row">
            <div class=" col-xl-6 col-lg-6 col-md-5 whoami-title pt-5 mt-5 ml-3 text-left">
                <div class="whoami-title-line wow zoomIn" data-wow-delay=".2s">
                    <h2>
                        <span class="">Profi Weboldal.</span>
                    </h2>
                </div>
                <div class="whoami-title-line wow zoomIn" data-wow-delay=".5s">
                    <h2>
                        <span class="">Gyorsan. Olcsón.</span>
                    </h2>
                </div>
            </div>
            <div class="col-xl-6 ml-xl-auto col-lg-6 ml-lg-auto col-md-5 ml-md-auto">
                <blockquote class="blockquote">
                    <h3 class="text-right pt-3">Valami egyedire van
                        <br>szükséged
                        <em>amivel</em> kitűnsz
                        <br>a tömegből?
                        <p class="lead mt-3">Jó helyen jársz...</p>
                    </h3>
                </blockquote>
            </div>
        </div>
    </div>
</header>

</section>