/* Coolors Exported Palette - coolors.co/ffead0-f76f8e-96616b-37505c-113537 */

/* HSL */
$color1: hsla(33%, 100%, 91%, 1);
$color2: hsla(346%, 89%, 70%, 1);
$color3: hsla(349%, 21%, 48%, 1);
$color4: hsla(199%, 25%, 29%, 1);
$color5: hsla(183%, 53%, 14%, 1);

/* RGB */
$color1: rgba(255, 234, 208, 1);
$color2: rgba(247, 111, 142, 1);
$color3: rgba(150, 97, 107, 1);
$color4: rgba(55, 80, 92, 1);
$color5: rgba(17, 53, 55, 1);